.navbar {
    background-color: rgb(170, 21, 21);
}

.navbar-right li a {
    color: white !important;
    font-size: 20px;
}

#logo {
    width: 60px;
}

.text-md-left {
    background-color: rgb(170, 21, 21);
    color: white;
}

.py-3 {
    background-color: rgb(170, 21, 21);
    color: white;
}

.redes-logo {
    width: 30px;
}

#cardForm {
    -webkit-box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 30px;
    text-align: center;
}

#btnForm {
    background: -webkit-linear-gradient(left, rgba(247, 244, 247, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(61, 24, 15, 1) 0%, rgba(173, 0, 0, 1) 84%, rgba(173, 0, 0, 1) 100%);
    color: white;
}

#btnForm:hover {
    background: -webkit-linear-gradient(left, rgba(173, 0, 0, 1) 0%, rgba(173, 0, 0, 1) 16%, rgba(61, 24, 15, 1) 100%);
}